* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*::selection {
    background: #e53e44;
    color: white;
}

body {
    background: #17181f;
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    margin-bottom: 30px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

a {
    color: #e53e44;
}

a, a:hover, a:focus, button {
    text-decoration: none;
    outline: none;
    border: none;
    transition: background-color .2s, color .2s;
}

a:hover, a:focus {
    color: #17181F;
    background-color: #e53e44;
}

.klisi-container {
    width: min(100%, 1200px);
    margin: 0px auto;
    padding: 0px 20px;
}

.shadow {
    box-shadow: "0 0 7px rgba(0, 0, 0, .1)";
}