:root {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Content selection styles. */
*::selection {
    background: #e53e44;
    color: white;
}

/* Scroll styles. */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #17181F;
}

::-webkit-scrollbar-thumb {
    background: #e53e44;
    border-radius: 20px;
}

/* Tag overloads. */
body {
    background: #17181f;
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2 { margin-bottom: 2rem; }
h1 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }
p { font-size: 1rem; }

svg, img, video {
    max-width: 100%;
}

a {
    color: #e53e44;
}

a, a:hover, a:focus, button {
    text-decoration: none;
    outline: none;
    border: none;
    transition: background-color .2s, color .2s;
}

a:hover, a:focus {
    color: white;
    background-color: #e53e44;
}

@media (max-width: 1280px) {
    h1, h2 { margin-bottom: .75rem; }
}


@media (max-width: 680px) {
    h1 { font-size: 2rem; }
}

/* Utility classes. */
.klisi-container {
    width: min(100%, 1200px);
    margin: 0px auto;
    padding: 0px 1.25rem;
}

.shadow {
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
}

.h-100vh { height: 100vh; }